<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-4">
  <div class="container">
    <!-- Logo o nombre de la app -->
    <a class="navbar-brand fw-bold" routerLink="/dashboard">ROLES Y PERMISOS</a>

    <!-- Botón de hamburguesa para pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links del navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li>
            <span class="text-light me-2">
            {{ usuario?.nombre }} 
            <span *ngIf="usuario?.rol?.nombre === 'admin'" class="badge bg-warning text-dark">ADMIN</span>
            </span>

        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/perfil" routerLinkActive="active">Perfil</a>
        </li>
      </ul>

      <!-- Botón de cerrar sesión -->
      <div class="d-flex">
        <button class="btn btn-outline-light btn-sm" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</nav>


<!--Modal Crear user-->

